# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride
._*

# --- Windows ---
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump

# --- Linux ---
.fuse_hidden*
.directory
.Trash-*
.nfs*

# --- Editores ---
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# --- Varios ---
*.log
*.tmp
*.bak
.env*
