DB_SA_PASSWORD=aqui-va-tu-password

CONNECTION_STRING=Server=db,1433;Database=NexoVida;User Id=sa;Password=aqui-tambien-tu-password;TrustServerCertificate=True

JWT_SECRET_KEY=cambia-aqui-por-caracteres-xd
JWT_ISSUER=NexoVida
JWT_AUDIENCE=NexoVida

CORS_ALLOWED_ORIGIN=http://localhost:3000

ASPNETCORE_ENVIRONMENT=Development
